page-home {

    .background-page{
      background-image: url(../../assets/imgs/bgo2.png);
      position: relative;
      background-repeat: no-repeat;
      background-size:cover;
    }
    .buthome{
      top: 50%;
      padding: 0% 30%;
     
    }

    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }

}
